#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg{
    position: absolute;
    top: -12rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 175vh;
}

.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2.5rem;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello{
    font-size: 1.75rem;
    font-weight: 400;
    margin: 0.25rem 0.25rem;
}

.introText{
    margin: 0.25rem 0.25rem;
}

.introName{
    color: yellow;
}

.introPara{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0.25rem 0.25rem;
}

.button-container {
    display: flex;
    margin: 1rem 0; 
    gap: 1rem;
}

.btn{
    background: yellow;
    color: black;
    border: solid white;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.binning{
    object-fit: cover;
    margin: 0rem 0.5rem 0.1rem -0.2rem;
    padding: 0rem;
    height: 1rem;
    position: relative;
    vertical-align: middle;
}

.Resume{
    color: black;
    border: solid yellow;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
    font-weight: 650;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 840px){
    .bg{
        right: -10vw;
    }
    .introContent{
        font-size: 10vw;
    }
    .hello{
        font-size: 4.5vw;
    }
}
@media screen and (max-width: 480px){
    .bg{
        right: -20vw;
    } 
}